#main-layout {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 2fr;
    height: 1fr;
    width: 100%;
}

#sidebar {
    border: heavy $primary;
    border-title-align: left;
    border-title-style: bold;
    padding: 1 2;
    margin: 1;
}

TabPane VerticalScroll {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

VerticalScroll > * {
    margin: 1 3 1 1;
}

#log-container {
    padding: 1 2;
    height: 1fr;
}

#status-panel {
    height: auto;
    padding: 1 2;
    border-top: tall $panel;
}

/* Controls and buttons */
#buttons-row {
    height: 3;
    align: center middle;
    layout: horizontal;
}

#extras-headless-container {
    width: 100%;
}

#extras-headless-switch {
    height: auto;
    width: auto;
}

.task-container {
    height: 2;
}

/* Results and progress */
#results-table {
    display: none;
    height: auto;
    max-height: 12;
    margin-top: 1;
}

#format-selection-container {
    height: auto;
    width: 100%;
}

#format-selection-label {
    width: 100%;
    text-align: center;
    text-style: bold;
}

#format-selection {
    height: auto;
    align: center top;
    keyline: thin $panel-lighten-2;
}

#html-col, #pdf-col {
    height: auto;
    margin: 1 1;
    padding: 0;
}

#html-col > .title,
#pdf-col > .title {
    width: 100%;
    text-align: center;
    text-style: bold;
}

#html-selection,
#pdf-selection {
    border: transparent;
    background: transparent;
    align: center middle;
    width: auto;
}

#progress-spinner {
    height: 1;
}

#progress-container {
    height: auto;
}

SpinnerWidget {
    height: 1;
    width: 2;
}

/* Inputs and form fields */
#extras-target-input-container, #posts-target-input-container {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 8;
    border: round $panel-lighten-2;
    width: 100%;
    height: 7;
    margin-right: 2;
}

#btn-extras-files, #btn-posts-files {
    content-align-vertical: middle;
    margin: 1;
}

#extras-target, #posts-target {
    width: 1fr;
    height: 5;
    margin: 1 0 1 1;
}

Collapsible {
    width: 100%;
}

Collapsible Vertical {
    height: auto;
    margin-right: 1;
}

Collapsible Horizontal{
    height: auto;
    margin-right: 1;
    margin-bottom: 1;
}

Collapsible Input {
    background: $background;
    width: auto;
    max-width: 30;
}

Rule {
    color: $text-muted;
    margin: 0;
    align: center middle;
}

Input.number {
    max-width: 10;
    padding: 0 1;
}

Input.integer {
    max-width: 6;
    padding: 0 1;
}

Switch {
    border: none;
    padding: 0;
}

Switch > .switch--slider {
    background: $panel-darken-1;
}

Switch.-on > .switch--slider {
    color: $success-darken-1;
}

#log-view {
    color: $text;
    padding-left: 2;
}